<div class="row justify-content-center">
  <div *ngFor="let course of courses" class="col-lg-5 shadow p-3 mb-5 rounded thumbnail"
       style="padding: 20px; margin: 30px">
    <div class="row ">
      <div class="col-7">
        <!--<div *ngIf="this.role == 'user'">-->
        <a [routerLink]="['/student/course-page', course.name]"><h1>{{course.name}}</h1></a>
        <!--</div>-->


        <!--<div *ngIf="this.role == 'user';then thenBlock else elseBlock">-->
        <!--</div>-->
        <!--<ng-template #thenBlock>-->
          <!--<a [routerLink]="['/student/course-page', course.name]"><h1>{{course.name}}</h1></a>-->
        <!--</ng-template>-->
        <!--<ng-template #elseBlock>-->
          <!--<h1>{{course.name}}</h1>-->
        <!--</ng-template>-->

        <em>
          <h3 class="text-muted">{{ course.skill_level }}</h3>
        </em>

        <h4>{{ course.start_date }} - {{course.end_date}}</h4>
      </div>

    </div>
    <h3 style="margin-top: 10px;">{{ course.info }}</h3>
  </div>
</div>
