<nav id="menubar" class="navbar navbar-expand-lg navbar-light " style="margin-bottom: 0px">
  <div class="navbar-collapse collapse ">

    <ul class="navbar-nav mr-auto">
      <li>
        <span class="text-secondary" style="font-size: 25px;">Signed in as {{this.role}}</span>
      </li>
      <div *ngIf="this.role == 'admin'">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">

            <div class="dropdown">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-default" data-toggle="dropdown"
                id="dropdownMenuButton" type="button">
                <a class="nav-link" routerLink="">
                  Manage users
                </a>
              </button>
              <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                <a class="dropdown-item " href="#">Edit trainers</a>
                <a class="dropdown-item" href="#">Edit managers</a>
                <a class="dropdown-item" href="#">View all users</a>
              </div>
            </div>

          </li>
          <li class="nav-item">
            <button class="btn btn-default" type="button">
              <a class="nav-link" routerLink="">
                Manage landing page
              </a>
            </button>
          </li>
          <li class="nav-item">

            <div class="dropdown">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-default" data-toggle="dropdown"
                id="dropdownMenuButton" type="button">
                <a class="nav-link" routerLink="">
                  Manage courses
                </a>
              </button>
              <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                <a class="dropdown-item" href="#">Create new course</a>
                <a class="dropdown-item" href="#">Groups' Schedule</a>
                <a class="dropdown-item" href="#">Attendance</a>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-default">
          <a class="nav-link" routerLink=""><span class=" glyphicon glyphicon-bullhorn"></span></a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-default">
          <a class="nav-link" routerLink=""><span class="glyphicon glyphicon-envelope"></span></a>
        </button>
      </li>
      <li class="nav-item">
        <button (click)="logout()" class="btn btn-outline-secondary" type="button"><a
            class="nav-link">Logout</a></button>
      </li>
    </ul>
  </div>

</nav>


<ng-template #loggedOut>
</ng-template>
