body { padding-top: 70px; }
.selector-for-some-widget {
    box-sizing: content-box;
  }

  *{font-size: 20px;}

  li{
    margin-left: 15px;
    margin-right: 15px; 
  }

  #menubar{
    background-color: rgba(255, 255, 255, 0.76);
  }

  button{
    font-size: 20px;
    color: rgb(22, 22, 22);
  }

  .dropdown-menu{
   
    margin: 10px;
    padding: 10px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.76); 
  }
