*{
    align-items: center;
     margin-left: auto;
      margin-right: auto;
     margin-bottom: 0px;}

#footer{
    background: rgba(0, 0, 0, 0.82);
    color: aliceblue;
    height: 70px;
    width: 100%;
}