<div *ngIf="loggedOut; else isLoggedIn">
</div>

<ng-template #isLoggedIn>
  <div style="height: 100%; min-height: 100vh">

    <app-menu></app-menu>

      <div class="container">
        <h1>Course Form</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="courseFormGroup">
          <div class="form-group">
            <label for="name">Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="name" required
                   name="name" formControlName="name">
            <div
              *ngIf="courseFormGroup.controls.name.errors?.required  && courseFormGroup.controls.name.touched"
              style="font-size: 15pt">First name is required</div>
          </div>

          <!--<div [formGroup]="dateFormGroup">-->
            <div class="form-group">
              <label for="start_date">Star date<span style="color:red">*</span></label>
              <input type="date" class="form-control" id="start_date" required
                     formControlName="start_date" name="start_date">
              <div
                *ngIf="courseFormGroup.controls.start_date.errors?.required  && courseFormGroup.controls.start_date.touched"
                style="font-size: 15pt">First name is required</div>
            </div>

            <div class="form-group">
              <label for="end_date">End date<span style="color:red">*</span></label>
              <input type="date" class="form-control" id="end_date" required
                     formControlName="end_date" name="end_date">
              <div
                *ngIf="courseFormGroup.controls.end_date.errors?.required  && courseFormGroup.controls.end_date.touched"
                style="font-size: 15pt">First name is required</div>
              <div *ngIf="courseFormGroup.errors?.compareDate" style="font-size: 15pt">End date must be greater than start date
              </div>
            </div>

          <div class="form-group">
            <label for="info">Info<span style="color:red">*</span></label>
            <textarea cols="20" rows="5" class="form-control" id="info" required
                      formControlName="info" name="info">

            </textarea>
            <div
              *ngIf="courseFormGroup.controls.info.errors?.required  && courseFormGroup.controls.info.touched"
              style="font-size: 15pt">First name is required</div>
          </div>

          <div class="form-group">
            <label for="skill_level">Skill level<span style="color:red">*</span></label>
            <select formControlName="skill_level" [compareWith]="compareFn" class="form-control" id="skill_level" name="skill_level">
              <option *ngFor="let l of levels" [value]="l">{{l}}</option>
            </select>
            <div
              *ngIf="courseFormGroup.controls.skill_level.errors?.required  && courseFormGroup.controls.skill_level.touched"
              style="font-size: 15pt">First name is required</div>
          </div>


          <div class="form-group">
            <label for="trainer_id">Trainer<span style="color:red">*</span></label>
            <select formControlName="trainer_id" [compareWith]="compareFn" class="form-control" id="trainer_id" name="trainer_id"> required
              <option *ngFor="let t of trainers" [value]="t.id">{{t.fname}} {{t.lname}}</option>
            </select>
            <div
              *ngIf="courseFormGroup.controls.trainer_id.errors?.required  && courseFormGroup.controls.trainer_id.touched"
              style="font-size: 15pt">First name is required</div>
          </div>


          <div class="form-group">
            <label for="qty_per_week">Quantity per week ( 1 - 4 )<span style="color:red">*</span></label>
            <input type="number" class="form-control" id="qty_per_week"
                   formControlName="qty_per_week" name="qty_per_week" min="1" max="4">
            <div
              *ngIf="courseFormGroup.controls.qty_per_week.errors?.required  && courseFormGroup.controls.qty_per_week.touched"
              style="font-size: 15pt">First name is required</div>
            <div *ngIf="courseFormGroup.errors?.invalidQty && courseFormGroup.controls.qty_per_week.touched" style="font-size: 15pt">Quantity per week must be from 1 to 4
            </div>
          </div>
          <input [disabled]="!courseFormGroup.valid" type="submit" class="btn btn-secondary" value="Submit">
        </form>
      </div>

  </div>
    <app-footer></app-footer>
</ng-template>
