<div class="container-fluid">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>User name</label>
          <input type="text" class="form-control" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required autocomplete="off" placeholder="User name">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required  minlength="3" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="Email" #Email="ngModel" [(ngModel)]="user.Email" aria-describedby="emailHelp" placeholder="Email" autocomplete="off">
        </div>
        <div class="form-group">
          <label>First name</label>
          <input type="text" class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName" required autocomplete="off" placeholder="User name">
        </div>
        <div class="form-group">
          <label>Last name</label>
          <input type="text" class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" required autocomplete="off" placeholder="User name">
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
