.container{
    width: 50%;
    margin-top: 8%;
  }
  
  label, input, select, option{
    font-size: 24px;
    margin: 15px;
  }

  a{
    font-size: 14px;
  }
  
  button{
    font-size: 26px;
    margin: 15px;
  }


ngb-alert{
    font-size: 20px;
    position : center;
    margin: auto;
    width: 100%;
  }