.container{
    width: 50%;
    height: 100%;
  }
  
  form{
    margin-top: 8%;
  }

  label, input, select, option{
    font-size: 24px;
    margin: 15px;
  }

  a{
    font-size: 14px;
  }
  
  button{
    font-size: 26px;
    margin: 15px;
  }

  #bg-image{
    background: url('../../assets/images/signInBackground.jpg');
    background-size: cover;
    height: 100vh;
}

#bg-overlay{
    background: rgba(189, 189, 189, 0.473);
    background-size: cover;
   
    height: 100vh;

}