#bg-image{
  background: url('../../assets/images/background.jpg');
  background-size: cover;
  height: 100vh;
}

/*#bg-overlay{*/
  /*background: rgba(189, 189, 189, 0.473);*/
  /*background-size: cover;*/

  /*height: 100vh;*/

/*}*/

.container{
  width: 50%;
  margin-top: 2%;
}


label, input, select, option{

  font-size: 20px;
}

button{
  font-size: 22px;
}

.alert{
  font-family: Times, serif;
  letter-spacing:normal;
  font-size: 16px;
}
