<div *ngIf="loggedOut; else isLoggedIn">
</div>

<ng-template #isLoggedIn>

  <app-menu></app-menu>
  <div id="bg-image">
    <div id="bg-overlay">
      <div class="container">
        <div id="headerh1"><h1 class="text-center">Timeslot Form</h1></div>
        <br>
        <br>
        <!--<h1>Timeslot Form</h1>-->
        <form (ngSubmit)="onSubmitT()" #timeslotForm="ngForm">
          <div class="form-group">
            <div class="form-group">
              <div class="24hr-example">
                <label for="start_time">Start time</label>
                <input placeholder="Input start time" [ngxTimepicker]="fullTime" [format]="24"
                       [(ngModel)]="timeSlotT.start_time" name="start_time"
                       id="start_time" readonly
                       #start_time="ngModel" required minlength="4">
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                <div [hidden]="(start_time.value < end_time.value)" class="alert alert-danger">
                  Start time is required or start time is bigger than end time
                </div>


                <label for="end_time">End time</label>
                <input placeholder="Input end time" [ngxTimepicker]="fullTime2" [format]="24"
                       [(ngModel)]="timeSlotT.end_time" name="end_time"
                       id="end_time" readonly
                       #end_time="ngModel" required minlength="4">
                <ngx-material-timepicker #fullTime2></ngx-material-timepicker>
                <div [hidden]="(start_time.value < end_time.value)" class="alert alert-danger">
                  End time is required or start time is bigger than end time
                </div>
              </div>
              <!--<label for="end_time">End time</label>-->
              <!--<input type="time" class="form-control" id="end_time"-->
              <!--[(ngModel)]="timeSlotT.end_time" name="end_time"-->
              <!--#end_time="ngModel" required minlength="4">-->

            </div>

            <!--<div class="form-group">-->
            <!---->
            <!--&lt;!&ndash;<div [hidden]="end_time.valid || end_time.pristine || (start_time > end_time)" class="alert alert-danger">&ndash;&gt;-->
            <!--&lt;!&ndash;End time is required or start time is bigger than end time&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->

            <div class="form-group">
              <label for="week_day">Day of week</label>
              <mat-list-item class="primary-imenu-item" role="listitem">
                <mat-form-field class="select-form">
                  <mat-select [(ngModel)]='timeSlotT.week_day' class="filter-select" id="week_day" name="week_day">
                    <!--<option disabled="disabled">Choose day of week</option>-->
                    <mat-option value='Monday'>Monday</mat-option>
                    <mat-option value='Tuesday'>Tuesday</mat-option>
                    <mat-option value='Wednesday'>Wednesday</mat-option>
                    <mat-option value='Thursday'>Thursday</mat-option>
                    <mat-option value='Friday'>Friday</mat-option>
                    <mat-option value='Saturday'>Saturday</mat-option>
                    <mat-option value='Sunday' disabled>Sunday</mat-option>
                    <!--<div [hidden]="week_day == null" class="alert alert-danger">-->
                    <!--Week day is required!-->
                    <!--</div>-->
                  </mat-select>
                </mat-form-field>
              </mat-list-item>
            </div>


            <div class="form-group">
              <label for="course_id">Courses</label>
              <mat-list-item class="primary-imenu-item" role="listitem">
                <mat-form-field class="select-form">
                  <mat-select class="filter-select" style="font-size: 20px" [(ngModel)]="timeSlotT.course_id"
                              id="course_id" name="course_id">
                    <mat-option *ngFor="let c of courses" [value]="c.id">{{c.name}}
                    </mat-option>
                    <!--<div [hidden]="course_id == 0" class="alert alert-danger">-->
                    <!--Course is required!-->
                    <!--</div>-->
                  </mat-select>
                </mat-form-field>
              </mat-list-item>

            </div>

          </div>
          <button [disabled]="!timeslotForm.valid" class="btn btn-secondary" type="submit">Submit</button>

        </form>
      </div>

    </div>
  </div>

  <app-footer></app-footer>
</ng-template>
