#bg-image{
  background: url('../../assets/images/sand-clock.jpg');
  background-size: cover;
  height: 100vh;
}

/*#bg-overlay{*/
  /*background-size: cover;*/
  /**/
  /*height: 100vh;*/

/*}*/

.container{
  width: 50%;
}

.header h1{
  padding: 200%;
  margin-top: 200px;

}

label, select, option{
  width: 100%;
  font-size: 20px;
}

input{
  margin-top: 2%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

button{
  font-size: 22px;
}

mat-option {
  font-size: 20px;
}

mat-select, mat-list-item{
  font-size: 20px;
}

/*цвет текста*/
/deep/ .mat-select-value{
  font-weight: bolder;
  /*color: navy;*/
}

mat-form-field {
  width: 100%;
}


.alert{
  width: 70%;
  font-family: Times, serif;
  letter-spacing:normal;
  font-size: 16px;
}
