<div *ngIf="loggedOut; else isLoggedIn">
</div>

<ng-template #isLoggedIn>
  <div style="height: 100vh;">

    <app-menu></app-menu>
    <div class="container">
      <h1>User Form</h1>
      <br>
      <br>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <label for="firstName">First name</label>
          <input #firstName="ngModel" [(ngModel)]="userModel.firstName" class="form-control" id="firstName" name="firstName"
            required type="text">

          <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
            User name is required!
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last name</label>
          <input #lastName="ngModel" [(ngModel)]="userModel.lastName" class="form-control" id="lastName" name="lastName"
            required type="text">

          <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
            Last name is required!
          </div>
        </div>

        <div class="form-group">
          <label for="role">User role</label>
          <select [(ngModel)]="userModel.role" class="form-control" id="role" name="role">
            <option *ngFor="let rl of roles" [value]="rl">{{rl}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input #username="ngModel" [(ngModel)]="userModel.username" class="form-control" id="username" name="username"
            required type="text">

          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            Username is required!
          </div>
        </div>

        <div class="form-group">
          <label for="email">User e-mail</label>
          <input #email="ngModel" [(ngModel)]="userModel.email" class="form-control" id="email" name="email" required
            type="text">

          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            E-mail is required!
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input #password="ngModel" [(ngModel)]="userModel.password" class="form-control" id="password" name="password"
            required type="password">

          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required!
          </div>
        </div>

        <button [disabled]="!userForm.form.valid" class="btn btn-secondary" type="submit">Submit</button>

      </form>
    </div>

  </div>

  <app-footer></app-footer>
</ng-template>
