#bg-image{
    background: url('../../../assets/images/background.jpg');
    background-size: cover;
    height: 100vh;
    
 
}

#bg-overlay{
    background: rgba(0, 0, 0, 0.281);
    background-size: cover;
   
    height: 100vh;

}

#main-quote{ font-family:georgia, serif;
    letter-spacing:0.1em;
    line-height:200%;
    padding-top:11px;
    font-size: 45pt;
    color: rgb(236, 236, 236);
}

#author{
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        font-style: normal;
        font-variant: small-caps;
        text-decoration: none;
        color: #afafaf;
        font-size: 25px;
}

#quote{
    background: rgba(0, 0, 0, 0.548);
}
