<div id="bg-image">
  <div id="bg-overlay">
    
      <app-menu ></app-menu>
    <div class="container" style="height: 100%">
      <div class="row" style="height: 100%">
        <div id="quote" class="col align-self-center thumbnail" style="width: 100%">
          <h1 id="main-quote" class="display-1"> Don't be afraid to study hard: knowledge never exhausts the mind.</h1>
          <footer class="text-right blockquote-footer" id="author">Eraldo Banovac</footer>
        </div>
      </div>
    </div>
  </div> 
</div>