<app-menu></app-menu>

<div class="container mx-auto mt-5">
  <h2 class="text-center" style="font-size: 30px">Courses</h2>
  <ngb-tabset style="font-size: 20px">
    <ngb-tab>
      <ng-template ngbTabTitle ><span class="text text-secondary" style="font-size: 20px;">All</span>
      </ng-template>
      <ng-template ngbTabContent>

        <div class="list-group " *ngFor="let course of courseList; index as i">
          <a class="list-group-item list-group-item-action mt-2" role="button" (click)="setChoosen(course.courseId)" >
            <div class="row">
              <div class="col-1">{{i + 1}}</div>
              <div class="col-5">{{course.name}}</div>
              <div class="col-3 text-center">{{course.skillLevel}}</div>
              <div class="col-3">{{course.trainer.firstName}} {{course.trainer.firstName}}</div>
            </div>
          </a>
          <div  *ngIf=" !isHidden[course.courseId] && course.courseId === choosenOne">
            <div class="card card-body" *ngIf="lessonList.length !== 0">
              <div class="list-group " *ngFor="let lesson of lessonList; index as i">
                <a class="list-group-item list-group-item-action mt-2"  role="button" (click)="setChoosenLesson(lesson.lessonId); getUsers(lesson.lessonId)">
                  <div class="row">
                    <div class="col-1">{{i + 1}}</div>
                    <div class="col-5">{{lesson.lessonId}}</div>
                    <div class="col-3 text-center">{{lesson.startDateTime}}</div>
                    <div class="col-3 text-center">{{lesson.cancel}} </div>
                  </div>
                </a>
                <div *ngIf="lesson.lessonId === choosenOneLesson">
                  <div class="card card-body" *ngIf="userList.length !== 0">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Status</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let user of userList; index as i">
                      <tr>
                        <th scope="row">{{i + 1}}</th>
                        <td>{{user.userFirstName}}</td>
                        <td>{{user.userLastName}}</td>
                        <td>{{user.attendanceStatus}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card card-body" *ngIf="userList.length === 0">
                    No lessons here!
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-body" *ngIf="lessonList.length === 0">
              No lessons here!
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="text text-secondary" style="font-size: 20px">by trainer</span></ng-template>
      <ng-template ngbTabContent>
        <div>
          <select class="custom-select mr-sm-2" style="font-size: 20px" [(ngModel)]="trainerSelected" (ngModelChange)="onTrainetSelected($event)">
            <option *ngFor="let trainer of trainerSelector" [value]="trainer.id" >{{trainer.firstName}} {{trainer.lastName}}</option>
          </select>
        </div>
        <div class="list-group " *ngFor="let course of courseListByTrainer; index as i">
          <a class="list-group-item list-group-item-action mt-2" role="button" (click)="setChoosen(course.courseId)" >
            <div class="row">
              <div class="col-1">{{i + 1}}</div>
              <div class="col-5">{{course.name}}</div>
              <div class="col-3 text-center">{{course.skillLevel}}</div>
              <div class="col-3">{{course.trainer.firstName}} {{course.trainer.firstName}}</div>
            </div>
          </a>
          <div  *ngIf=" !isHidden[course.courseId] && course.courseId === choosenOne">
            <div class="card card-body" *ngIf="lessonList.length !== 0">
              <div class="list-group " *ngFor="let lesson of lessonList; index as i">
                <a class="list-group-item list-group-item-action mt-2"  role="button" (click)="setChoosenLesson(lesson.lessonId); getUsers(lesson.lessonId)">
                  <div class="row">
                    <div class="col-1">{{i + 1}}</div>
                    <div class="col-5">{{lesson.lessonId}}</div>
                    <div class="col-3 text-center">{{lesson.startDateTime}}</div>
                    <div class="col-3 text-center">{{lesson.cancel}} </div>
                  </div>
                </a>
                <div *ngIf="lesson.lessonId === choosenOneLesson">
                  <div class="card card-body" *ngIf="userList.length !== 0">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Status</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let user of userList; index as i">
                      <tr>
                        <th scope="row">{{i + 1}}</th>
                        <td>{{user.userFirstName}}</td>
                        <td>{{user.userLastName}}</td>
                        <td>{{user.attendanceStatus}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card card-body" *ngIf="userList.length === 0">
                    No lessons here!
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-body" *ngIf="lessonList.length === 0">
              No lessons here!
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="text text-secondary" style="font-size: 20px">by student</span></ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <input type="text" [(ngModel)]="userValue" class="col">
          <input type="button" value="Submit" (click)="filterByUser(userValue)">
        </div>
        <div class="list-group " *ngFor="let course of courseListByUser; index as i">
          <a class="list-group-item list-group-item-action mt-2" role="button" (click)="setChoosen(course.courseId)" >
            <div class="row">
              <div class="col-1">{{i + 1}}</div>
              <div class="col-5">{{course.name}}</div>
              <div class="col-3 text-center">{{course.skillLevel}}</div>
              <div class="col-3">{{course.trainer.firstName}} {{course.trainer.firstName}}</div>
            </div>
          </a>
          <div  *ngIf=" !isHidden[course.courseId] && course.courseId === choosenOne">
            <div class="card card-body" *ngIf="lessonList.length !== 0">
              <div class="list-group " *ngFor="let lesson of lessonList; index as i">
                <a class="list-group-item list-group-item-action mt-2"  role="button" (click)="setChoosenLesson(lesson.lessonId); getUsers(lesson.lessonId)">
                  <div class="row">
                    <div class="col-1">{{i + 1}}</div>
                    <div class="col-5">{{lesson.lessonId}}</div>
                    <div class="col-3 text-center">{{lesson.startDateTime}}</div>
                    <div class="col-3 text-center">{{lesson.cancel}} </div>
                  </div>
                </a>
                <div *ngIf="lesson.lessonId === choosenOneLesson">
                  <div class="card card-body" *ngIf="userList.length !== 0">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Status</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let user of userList; index as i">
                      <tr>
                        <th scope="row">{{i + 1}}</th>
                        <td>{{user.userFirstName}}</td>
                        <td>{{user.userLastName}}</td>
                        <td>{{user.attendanceStatus}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card card-body" *ngIf="userList.length === 0">
                    No lessons here!
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-body" *ngIf="lessonList.length === 0">
              No lessons here!
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="text text-secondary" style="font-size: 20px">by level</span></ng-template>
      <ng-template ngbTabContent>
        <select class="custom-select mr-sm-2" style="font-size: 20px" [(ngModel)]="levelSelected" (ngModelChange)="onLevelSelected($event)">
          <option *ngFor="let level of levelSelector">{{level}}</option>
        </select>
        <div class="list-group " *ngFor="let course of courseListByLevel; index as i">
          <a class="list-group-item list-group-item-action mt-2" role="button" (click)="setChoosen(course.courseId)" >
            <div class="row">
              <div class="col-1">{{i + 1}}</div>
              <div class="col-5">{{course.name}}</div>
              <div class="col-3 text-center">{{course.skillLevel}}</div>
              <div class="col-3">{{course.trainer.firstName}} {{course.trainer.firstName}}</div>
            </div>
          </a>
          <div  *ngIf=" !isHidden[course.courseId] && course.courseId === choosenOne">
            <div class="card card-body" *ngIf="lessonList.length !== 0">
              <div class="list-group " *ngFor="let lesson of lessonList; index as i">
                <a class="list-group-item list-group-item-action mt-2"  role="button" (click)="setChoosenLesson(lesson.lessonId); getUsers(lesson.lessonId)">
                  <div class="row">
                    <div class="col-1">{{i + 1}}</div>
                    <div class="col-5">{{lesson.lessonId}}</div>
                    <div class="col-3 text-center">{{lesson.startDateTime}}</div>
                    <div class="col-3 text-center">{{lesson.cancel}} </div>
                  </div>
                </a>
                <div *ngIf="lesson.lessonId === choosenOneLesson">
                  <div class="card card-body" *ngIf="userList.length !== 0">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Status</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let user of userList; index as i">
                      <tr>
                        <th scope="row">{{i + 1}}</th>
                        <td>{{user.userFirstName}}</td>
                        <td>{{user.userLastName}}</td>
                        <td>{{user.attendanceStatus}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card card-body" *ngIf="userList.length === 0">
                    No lessons here!
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-body" *ngIf="lessonList.length === 0">
              No lessons here!
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>















