<div *ngIf="!loggedOut">
  <div style="height: 100vh;">
    <app-menu></app-menu>

    <div class=" row justify-content-center">
      <div *ngFor="let student of students" class="col-lg-5 shadow p-3 mb-5 rounded thumbnail"
           style="padding: 20px; margin: 30px">
        <div class="row ">
          <div class="col-7">
            <h1>{{student.fname}} {{student.lname}}</h1>

            <em>
              <h3 class="text-muted">Student username: {{student.username}}</h3>
            </em>

            <h4 class="text-muted">Manager: {{student.managerFname}} {{student.managerLname}}</h4>
            <h4 class="text-muted">Manager`s e-mail: {{student.managerEmail}}</h4>
          </div>
        </div>

        <h3 style="margin-top: 10px;">E-mail: {{student.email}}</h3>

        <h3 style="margin-top: 10px;">Manager profile:
          <button type="button" class="btn btn-info" (click)="onGetClick()">Open profile</button>
        </h3>
      </div>

      <!--<div *ngFor="let manager of managers" class="col-lg-5 shadow p-3 mb-5 rounded thumbnail"-->
           <!--style="padding: 20px; margin: 30px">-->
        <!--<div class="row ">-->
          <!--<div class="col-7">-->
            <!--<h3 style="margin-top: 10px;">Manager username: {{manager.username}}</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    </div>


  </div>
  <app-footer></app-footer>
</div>
