<div class="row">
  <input type="text" [(ngModel)]="userValue" class="col" placeholder="Type student username">
  <button class="btn btn-outline-secondary" value="Submit" (click)="filterByUser(userValue)"
          style="font-size: 20px">Submit</button>
</div>
<div class="row" style="font-weight: bold">
  <div class="col-1">#</div>
  <div class="col-3">Course name</div>
  <div class="col-2">Skill level</div>
  <div class="col-3">Trainer</div>
  <button class="btn btn-outlet-secondary ml-auto" style="font-size: 18px; margin-right: 10px"
         (click)="createReportByStudent()">Create report</button>
</div>
<app-courses-admin-att [courseList]="courseList" [isReset]="isReset"></app-courses-admin-att>
<app-spinner *ngIf="isLoading"></app-spinner>
<app-no-data *ngIf="noData"></app-no-data>
