<div class="row">
  <div class="col">{{index + 1}}</div>
  <div class="col"><span matTooltip="Lesson time">{{lesson.startTime}}-{{lesson.endTime}}</span></div>
  <div class="col"><span matTooltip="Date of the lesson">{{lesson.lessonDate}}</span></div>
  <div class="col" *ngIf="isLess() && !lesson.cancel"><span matTooltip="Lesson has already been">Done</span></div>
  <div class="col" *ngIf="!lesson.cancel && !isLess()"><span matTooltip="Lesson will be according to the schedule">Active</span></div>
  <div class="col" *ngIf="lesson.cancel"><span matTooltip="Lesson has been canceled">Cancel</span></div>
  <div class="col" *ngIf="isLess()"><span matTooltip="Attendance status of user">{{lesson.attStatus}}</span></div>
  <div class="col" *ngIf="!isLess()"><span matTooltip="Attendance status of user"></span></div>


</div>

