<div class="row" (click) = "isHidden()">
  <div class="col-1">{{index + 1}}</div>
  <div class="col-3"><span matTooltip="Course name">{{course.name}}</span></div>
  <div class="col-2"><span matTooltip="Course skill level">{{course.skillLevel}}</span></div>
  <div class="col-3"><span matTooltip="Trainer">{{course.trainer.firstName}} {{course.trainer.lastName}}</span></div>
  <div class="col-3" style="text-align: center"><span matTooltip="Number of lesson in this course">{{course.totalLessonCount}} lessons ({{course.presentLessonCount}} present)</span></div>
</div>
<div *ngIf="!hide">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="list-group " *ngFor="let lesson of lessonList; index as i" style="font-size: 20px">
    <a class="list-group-item list-group-item-action mt-2">
      <app-lesson-att [lesson]="lesson" [index]="i"></app-lesson-att>
    </a>
  </div>
</div>

