td, th, title{
  font-family: "Times New Roman", Times, serif;

  font-size: 22px;
}
button{

  background-color: darkgrey;
  font-size: 18px;
  margin: auto;
  position : center;
}
input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
  margin: auto;
  position : center;
}
