#bg-image{
    background: url('../../assets/images/background.jpg');
    background-size: cover;
    height: 100vh;
}

#bg-overlay{
    background: rgba(189, 189, 189, 0.473);
    background-size: cover;
   
    height: 100vh;

}

form{ font-family:georgia, serif;
    letter-spacing:0.1em;
    padding-top:11px;
    font-size: 35pt;
    color: rgb(173, 173, 173);
    background: rgba(58, 58, 58, 0.699);
    width: 60%;
    padding: 10px;
}

input{
    width: 80%;
    margin: auto;

    font-size: 20pt;
}

button{
    font-size: 35px;
    color: rgb(173, 173, 173);
    margin: auto
  }

a{
    font-size: 14px;
}

.error{
    color: rgb(0, 0, 0);
    font-size: 16px;
    background: rgba(255, 0, 0, 0.6);

}