<div id="bg-image">
  <div id="bg-overlay">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">

        <form class="text-center" [formGroup]="passwordResetFormGroup" name="form" (ngSubmit)="onSubmit()">
          <div class="form-group text-center">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" value="{{this.email}}" readonly  />
          </div>

          <div [formGroup]="passwordFormGroup">
            <div class="form-group text-center">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" formControlName="password" minlength="6">
            </div>
            <p class="error"
              *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">
              Password is required</p>
              <p class="error" *ngIf="passwordFormGroup.controls.password.errors?.minlength" >Password must be at least 6 characters
              </p>
            <div class="form-group text-center">
              <label for="repeatPassword">Repeat Password</label>
              <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword">
            </div>
            <p class="error"
              *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">
              Repeat password is required</p>
            <p class="error" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>

          </div>
          <div class="form-group text-center">
            <button class="form-control btn btn-secondary" type="submit"
              [disabled]="!passwordResetFormGroup.valid">Reset Password</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>