<div *ngIf="!isReset">
  <mat-accordion >
    <mat-expansion-panel *ngFor="let course of courseList; index as i">
          <mat-expansion-panel-header (click)="setChosenCourse(course.courseId)">
            <mat-panel-title class="row col-3">
              <span class="col-2">{{i + 1}}</span><span class="col-10">{{course.name}}</span>
            </mat-panel-title>
            <mat-panel-description class="row col-9">
              <span class="col-2">{{course.skillLevel}}</span>
              <span *ngIf="isTrainerColumnNeed" class="col-4">{{course.trainer.firstName}} {{course.trainer.lastName}}</span>
              <span class="col-1 ml-auto" style="font-size: 18px; margin-right: 10px" *ngIf="isChooseCoursesSelected"><input
                type="checkbox" [(ngModel)]="selectedCourseArray[i].isSelected" (click)="selectCourseForReport(course.courseId)" /></span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="course.courseId === chosenOneCourse">
              <div class="row" style="font-weight: bold" *ngIf="lessonList.length !== 0">
                <div class="col-1">#</div>
                <div class="col-3">Date</div>
                <div class="col-5">Time</div>
                <div class="col-3 text-center">Status</div>
              </div>
                <app-one-lesson-admin-att *ngFor="let lesson of lessonList; index as i" [lesson]="lesson" [index]="i"></app-one-lesson-admin-att>
            </div>
            <app-spinner *ngIf="isLessonLoading"></app-spinner>
            <app-no-data *ngIf="noData"></app-no-data>
    </mat-expansion-panel>
  </mat-accordion>
</div>

