#bg-image{
  background: url('../../../../assets/images/schedule_background.jpg');
  background-size: contain;
  height: 100vh;
}

#bg-overlay{
  background-size: cover;

  height: 100vh;

}

.container{
  width: 50%;
  margin-top: 8%;
}

label, input, select, option{
  font-size: 20px;
}

button{
  font-size: 22px;
}
