#bg-image {
  background: url('../../../../assets/images/schedule_background2.jpg');
  background-size: cover;
  height: 100vh;
}

#bg-overlay {
  background-size: cover;

  height: 100vh;

}

#headerh1{
  margin-top: 300px;
}

.container {
  width: 50%;
}

label, input, select, option {
  font-size: 20px;
}

mat-select, mat-list-item, mat-option, mat-form-field {
  font-size: 20px;
}

mat-form-field {
  margin-left: 140px;
  width: 70%;
}

/deep/ .mat-select-value{
  font-weight: bolder;
  /*color: white;*/
}

.mat-input-placeholder{
  font-weight: bolder;
}

button{
  background-color: darkgrey;
  font-size: 22px;
}

#submitButton{
  margin-left: 140px;
  background-color: darkgrey;
  font-size: 22px;
}
