<div *ngIf="loggedOut; else isLoggedIn">
</div>
<ng-template #isLoggedIn>

  <div style="height: 100%; min-height: 100vh">
    <app-menu></app-menu>
    <div id="bg-image">
      <div id="bg-overlay">
        <div class="container">

          <h1>Schedule Form</h1>
          <br>
          <br>
          <form (ngSubmit)="onSubmit()" #scheduleForm="ngForm">
            <select [(ngModel)]="schedule.time_slot_id" class="form-control" id="time_slot_id"
                    name="time_slot_id" multiple>
              <option *ngFor="let t of timeSlots" [value]="t.id">{{t.startTime}} {{t.endTime}} {{t.weekDay}}
              </option>
            </select>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ng-template>
